#box1{
    border: 1px solid;
    height: 600px;
    width: 500px;
    background-color: skyblue;

    position: absolute;
    top: 150px;
    left: 950px;

    overflow: scroll;
}

#box2{
    border: 1px solid;
    height: 400px;
    width: 300px;
    background-color: tomato;

    position: absolute;
    top: 100px;
    left: 450px;

    overflow: auto;
}

#form1{
    position: absolute;
    bottom: 50px;
    left: 50px;
}

input[type=text]{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
}

label{
    font-size: 20px;
}

#box3{
    border: 1px solid;
    height: 800px;
    width: 1480px;

    position: absolute;
    top: 10px;
}